easydict
einops
pathlib
pytest
pylint
numpy
numba
rawpy
joblib
hdf5storage
tqdm
pandas
timm
scikit-image
pytorch-lightning
https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.3.0+cuda11.cudnn805-cp38-none-manylinux2010_x86_64.whl # jaxlib
jax==0.3.0
torch==1.12.1+cu113
torchvision==0.13.1
opencv-contrib-python==4.5.*
--extra-index-url https://download.pytorch.org/whl/cu113
